{{ define "main" }}
<div class="article shell--narrow">
  <header class="article-header">
    <div class="article-meta">
      <div class="article-meta__info">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan, 2006" }}</time>
      </div>
    </div>
    <h1 class="article-title title-lg">{{ .Title }}</h1>
    {{ with .Description }}
    <p class="article-desc">{{ . }}</p>
    {{ end }}
  </header>
  {{ .Content }}
</div>
{{ partial "image-preview.html" . }}
{{ end }}
