{{ define "main" }}
<div class="article shell--narrow">
  <header class="article-header">
    <div class="article-meta">
      <div class="article-meta__info">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan, 2006" }}</time>
      </div>
    </div>
    <h1 class="article-title title-lg">{{ .Title }}</h1>
    {{ with .Params.gear }}
    <p class="article-desc">{{ . }}</p>
    {{ end }}
    {{ with .Params.location }}
    <p class="photo-album__location">{{ . }}</p>
    {{ end }}
  </header>
  {{ .Content }}
</div>
<dialog class="photo-preview" id="photo-preview">
  <img class="photo-preview__img" src="" alt="">
</dialog>
<script>
(function () {
  var dialog = document.getElementById('photo-preview');
  var img = dialog.querySelector('img');
  document.querySelectorAll('.photo-grid__item a').forEach(function (a) {
    a.addEventListener('click', function (e) {
      e.preventDefault();
      img.src = a.href;
      dialog.showModal();
    });
  });
  dialog.addEventListener('click', function () { dialog.close(); });
})();
</script>
{{ end }}
