@use "../theme" as *;


* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: theme(accent) transparent;
  font-size: clamp(16px, 12px + 0.3125vw, 20px); // scales 16→20px between 1280–2560px viewports
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.04s;
}
