{{- $scratch := newScratch -}}
{{- $scratch.Set "lang" "text" -}}
{{- with .Attributes -}}
  {{- with index . "language" -}}
    {{- $scratch.Set "lang" . -}}
  {{- end -}}
  {{- with index . "lang" -}}
    {{- $scratch.Set "lang" . -}}
  {{- end -}}
{{- end -}}
{{- $lang := $scratch.Get "lang" -}}
{{- $options := dict "lineNos" false "tabWidth" 2 -}}
{{- $highlighted := highlight .Inner $lang $options -}}
{{- $id := printf "code-%s" (md5 .Inner) -}}

<div class="code-block" data-lang="{{ $lang }}">
  <button class="code-copy" type="button" data-target="{{ $id }}" aria-label="Copy code">
    <span class="code-copy__label" data-copy="Copy" data-copied="Copied!">Copy</span>
  </button>
  {{ $highlighted | replaceRE "<pre" (printf "<pre id=\"%s\"" $id) | safeHTML }}
</div>
