@use "sass:map";

@function header-width() {
  @return 1024px;
}

@function content-width() {
  @return 820px;
}

$padding-inline: 1rem;
$header-height: 3rem;

// Font stacks
$font-mono: "JetBrains Mono", "Fira Code", "SFMono-Regular", Menlo, Consolas, "Liberation Mono", monospace;

$breakpoints: (
  sm: 36rem,   // 576px
  md: 48rem,   // 768px
  lg: 64rem,   // 1024px
  xl: 80rem    // 1280px
);

@function mq($from) {
  @return map.get($breakpoints, $from);
}
