{{- $page := .page -}}
{{- $summary := default $page.Params.summary $page.Summary -}}
{{- $cleanSummary := replaceRE "\\s+" " " ($summary | plainify) -}}
{{- $excerpt := cond (gt (len $cleanSummary) 0) ($cleanSummary | truncate 120) "" -}}

<li class="post-item">
  <a href="{{ $page.RelPermalink }}" class="post-item__link">
    <span class="post-item__title">{{ $page.LinkTitle }}</span>
    <span class="post-item__meta">
      <time datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date.Format "Jan 2, 2006" }}</time>
    </span>
  </a>
  {{- if $excerpt -}}
  <p class="post-item__excerpt">{{ $excerpt }}</p>
  {{- end -}}
</li>
