@use "theme" as *;

$header-height: 3rem;

@supports selector(:has(*)) {
  html:has(.menu-mobile[open]) {
    overflow: hidden;
  }
}

.site-header {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  border-bottom: 1px solid #333;
  // padding-inline: 0.5rem;
  // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }

  // @media (min-width: 1200px) {
  //   padding-inline: clamp(1rem, calc((100vw - 70rem) / 1.7), 100rem);
  // }

  .header-left {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .site-title {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          // text-decoration: underline;
        }
      }
    }
  }


  .header-menu {
    .menu-desktop {
      display: flex;
      gap: 1rem;

      a {
        color: theme(text);            // default link color
        text-decoration: none;
      }
    }
    .menu-mobile   { display: none; }

    .menu-toggle {
      cursor: pointer;
      list-style: none;
      user-select: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &::-webkit-details-marker { display: none; }
    }

    /* Default: show [ menu ], hide [ X ] */
    .menu-close { display: none; color: theme(accent)}
    .menu-close { display: none; }
    .menu-open { color: theme(accent)  }
    .menu-mobile[open] .menu-open { display: none; }
    .menu-mobile[open] .menu-close { display: inline; }

    /* ----------- Fullscreen mobile menu ----------- */
    .menu-list {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 1rem;
      background: theme(bg);
      color: theme(text);
      position: fixed;
      inset: calc(#{$header-height} + 1px) 0 0 0;
      // justify-content: center;
      align-items: center;
      z-index: 999;
      counter-reset: menu;      /* start counter at 0 */

      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: inherit;
        position: relative;
        counter-increment: menu;   /* increase counter */
      }

      /* Numbering: 01, 02, 03... */
      a::before {
        content: counter(menu, decimal-leading-zero) " ";
        font-weight: 400;
        opacity: 0.5;
      }

      // a.active { text-decoration: underline; }
    }

    @media (max-width: 768px) {
      .menu-desktop { display: none; }
      .menu-mobile  { display: block; }
    }
  }
}
