@use "sass:math";
@use "../theme" as *;

$rings: 7;
$ring-scale-max: 1;
$ring-scale-min: 0.3;
$ring-scale-step: math.div($ring-scale-max - $ring-scale-min, $rings - 1);

$ring-color: theme(ring-border);
$ring-size-min: 260px;
$ring-size-max: 65rem;

.rings {
  position: relative;
  width: var(--base-size, clamp($ring-size-min, var(--layout-header-width, min(100%, 72rem)), $ring-size-max));
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  pointer-events: none;
  transform: rotateX(68deg);
  filter: brightness(0.85);

  --rings-border-base: clamp(3px, 0.8vw, 14px);

  @for $i from 1 through $rings {
    $scale: $ring-scale-max - (($i - 1) * $ring-scale-step);

    .ring-#{$i} {
      position: absolute;
      inset: 0;
      border: calc(var(--rings-border-base) / #{$scale}) solid $ring-color;
      border-radius: 50%;
      transform: scale($scale);
      transform-origin: center;
      z-index: $rings - $i;
    }
  }
}
