<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="site-header-outer">
    <header class="shell shell--wide site-header flex">
      {{ partial "header.html" . }}
    </header>
  </div>
    <main class="shell content flex flex-col shell--narrow">
      <div class = "inner">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
  {{ partial "footer.html" . }}
</body>
</html>
