<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>
  <div class="site-header-outer">
    <header class="shell shell--narrow site-header flex">
      {{ partial "header.html" . }}
    </header>
  </div>
    <main id="main-content" tabindex="-1" class="shell content flex flex-col shell--narrow{{ if .Params.cover }} content--has-cover{{ end }}">
      <div class = "inner">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
  {{ partial "footer.html" . }}
</body>
</html>
