<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="site-header-outer">
    <header class="shell shell--wide site-header flex">
      {{ partial "header.html" . }}
    </header>
  </div>
    <main class="shell content flex flex-col {{ if .IsHome }} shell--wide {{ else }} shell--narrow {{ end }}">
      <div class = "inner">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
  <footer class="footer-shell">
    <div class="shell shell--wide">
      {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
