$themes: (
  light: (
    bg: #f7f4f0,
    text: #2b2621,
    accent: #1d4ed8,
    card: #fffefb,
    border: #d4cdc3,
    link: #1d4ed8,
    muted: #706a61,
    code: #1a1714,
    text-base: #2b2621,
    text-subtle: #5f5850,
    text-heading: #0d0b0a,
    text-accent: #1d4ed8,
    header-opacity: 60%
  ),
  dark: (
    bg: #0b0a09,
    text: #ddd9d4,
    accent: #e5b77e,
    card: #141311,
    border: #3d3835,
    link: #e5b77e,
    muted: #877d73,
    code: #ffffff,
    text-base: #ddd9d4,
    text-subtle: #b0a89f,
    text-heading: #faf9f7,
    text-accent: #e5b77e,
    header-opacity: 80%
  )
);
$default-theme: dark !default;
