{{- $key  := .Get 0 -}}
{{- $val  := .Get 1 | default "" -}}
{{- $arg3 := .Get 2 -}}  {{/* used as href OR as date format (see below) */}}
{{- $href := $arg3 -}}

{{- /* If value is the literal "date", render build time instead. */ -}}
{{- if eq (lower $val) "date" -}}
  {{- $fmt := "2006-01-02" -}}  {{/* default format */}}
  {{- /* If the 3rd param doesn't look like a URL, treat it as a format string. */ -}}
  {{- if $arg3 -}}
    {{- if not (in $arg3 "://") -}}
      {{- $fmt = $arg3 -}}
      {{- $href = "" -}}       {{/* it's a format, not a link */}}
    {{- end -}}
  {{- end -}}
  {{- $val = (now | time.Format $fmt) -}}
{{- end -}}

<div class="ff-line">
  <span class="ff-key">{{ $key }}</span><span class="ff-colon">:</span>
  {{- if $href -}}
    <a class="ff-val" href="{{ $href | safeURL }}" target="_blank" rel="noopener noreferrer">{{ $val }}</a>
  {{- else -}}
    <span class="ff-val">{{ $val }}</span>
  {{- end -}}
</div>
