{{ $value := .value | default .url }}
{{ $url := .url }}
{{ $isExternal := or (strings.HasPrefix $url "http") (strings.HasPrefix $url "//") }}
<li class="contact-item">
  {{ if $url }}
  <a href="{{ $url | safeURL }}" class="contact-item__link"{{ if $isExternal }} target="_blank" rel="noopener noreferrer"{{ end }}>
    {{ with .icon }}
    <span class="contact-item__icon">{{ partial "icon" . }}</span>
    {{ end }}
    <span class="contact-item__info">
      {{ with .label }}<span class="label">{{ . }}</span>{{ end }}
      <span class="contact-item__value">{{ $value }}</span>
    </span>
  </a>
  {{ else }}
  <div class="contact-item__static">
    {{ with .icon }}
    <span class="contact-item__icon">{{ partial "icon" . }}</span>
    {{ end }}
    <span class="contact-item__info">
      {{ with .label }}<span class="label">{{ . }}</span>{{ end }}
      <span class="contact-item__value">{{ $value }}</span>
    </span>
  </div>
  {{ end }}
</li>
