<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<script>
  (function () {
    try {
      var storedTheme = localStorage.getItem('preferred-theme');
      if (storedTheme) {
        document.documentElement.dataset.theme = storedTheme;
      }
    } catch (_) {}
  })();
</script>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/scss.html" . }}
{{ partialCached "head/js.html" . }}
