<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{- $desc := "" -}}
{{- with .Description }}{{ $desc = . }}{{ end -}}
{{- if not $desc }}{{ with .Params.description }}{{ $desc = . }}{{ end }}{{ end -}}
{{- if not $desc }}{{ with .Summary }}{{ $desc = . }}{{ end }}{{ end -}}
{{- if not $desc }}{{ with site.Params.description }}{{ $desc = . }}{{ end }}{{ end -}}
{{- if not $desc }}{{ $desc = site.Title }}{{ end -}}
{{- $desc = $desc | plainify | htmlEscape | truncate 160 -}}
<meta name="description" content="{{ $desc }}">
<script>
  (function () {
    try {
      var storedTheme = localStorage.getItem('preferred-theme');
      if (storedTheme) {
        document.documentElement.dataset.theme = storedTheme;
      }
    } catch (_) {}
  })();
</script>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/scss.html" . }}
{{ partialCached "head/js.html" . }}
