{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- $terms := $page.GetTerms $taxonomy }}
{{- if $terms }}
  {{- $label := (index $terms 0).Parent.LinkTitle | default "Tags" }}
  {{- $rawMap := dict }}
  {{- with $page.Param $taxonomy }}
    {{- range . }}
      {{- $slug := urlize . }}
      {{- $rawMap = merge $rawMap (dict $slug .) }}
    {{- end }}
  {{- end }}
  <div class="post-tags">
    <span class="post-tags__label">{{ $label }}:</span>
    <ul class="post-tags__list">
      {{- range $terms }}
        {{- $slug := urlize .LinkTitle }}
        {{- $name := index $rawMap $slug | default .LinkTitle }}
        <li><a href="{{ .RelPermalink }}">{{ $name }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
